<body>
  <div class="container">
    <header>
      <h1>Fleet Manager</h1>
    </header>
    <main>
      <p>Welcome to Fleet Manager!</p>
      <p>Start managing your fleet of vehicles efficiently.</p>
      <!-- <a href="/driver-overview">Go to Driver Overview</a> -->
      <div>
        <button class="btn btn-primary" routerLink="/drivers">Get Started</button>
      </div>
      <div class="token-display">
        <div class="token-buttons">
          <button class="btn btn-primary" (click)="onClick_login()">Login</button>
        </div>
      </div>
    </main>
  </div>
</body>