<app-overview [columns]="columns" [items]="inquiryList" [tableHeadExtensionHtml]="inquiryOverviewHeadTemplate" [tableBodyExtensionHtml]="inquiryOverviewBodyTemplate"></app-overview>

<!-- This template fills in 'tableHeadExtensionHtml' in the general overview html-->
<ng-template #inquiryOverviewHeadTemplate let-inquiry>
    <th>Status</th>
</ng-template>

<!-- This template fills in 'tableBodyExtensionHtml' in the general overview html-->
<ng-template #inquiryOverviewBodyTemplate let-inquiry>
    <td>
        <select [(ngModel)]="inquiry.status" (ngModelChange)="changeInquiryStatus(inquiry, inquiry.status)">
                <option value="-">-</option>
                <option value="InProgress">InProgress</option>
                <option value="New">New</option>
                <option value="Completed">Completed</option>
                <option value="Cancelled">Cancelled</option>
                <option value="OnHold">OnHold</option>
                <option value="Archived">Archived</option>
        </select>
    </td>
</ng-template>