<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button routerLink="/" class="title">Fleet Manager Application</a>
        <div class="nav-menu">
            <a mat-button routerLink="/drivers"> Drivers </a>
            <span class="separator">-</span>
            <a mat-button routerLink="/vehicles"> Vehicles </a>
            <span class="separator">-</span>
            <a mat-button routerLink="/inquiries"> User Inquiries</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>